
# PlanAhead Generated physical constraints 

NET "SRAM1_DATA[0]" LOC = J12;
NET "SRAM1_DATA[1]" LOC = J13;
NET "SRAM1_DATA[2]" LOC = J14;
NET "SRAM1_DATA[3]" LOC = J15;
NET "SRAM1_DATA[4]" LOC = J16;
NET "SRAM1_DATA[5]" LOC = J17;
NET "SRAM1_DATA[6]" LOC = K12;
NET "SRAM1_DATA[7]" LOC = K13;
NET "SRAM1_DATA[8]" LOC = K14;
NET "SRAM1_DATA[9]" LOC = K15;
NET "SRAM1_DATA[10]" LOC = L15;
NET "SRAM1_DATA[11]" LOC = L16;
NET "SRAM1_DATA[12]" LOC = L17;
NET "SRAM1_DATA[13]" LOC = L18;
NET "SRAM1_DATA[14]" LOC = M13;
NET "SRAM1_DATA[15]" LOC = M14;
NET "SRAM2_DATA[0]" LOC = U13;
NET "SRAM2_DATA[1]" LOC = T16;
NET "SRAM2_DATA[2]" LOC = T15;
NET "SRAM2_DATA[3]" LOC = T14;
NET "SRAM2_DATA[4]" LOC = T12;
NET "SRAM2_DATA[5]" LOC = R13;
NET "SRAM2_DATA[6]" LOC = R14;
NET "SRAM2_DATA[7]" LOC = R12;
NET "SRAM2_DATA[8]" LOC = R11;
NET "SRAM2_DATA[9]" LOC = R10;
NET "SRAM2_DATA[10]" LOC = P13;
NET "SRAM2_DATA[11]" LOC = P12;
NET "SRAM2_DATA[12]" LOC = P11;
NET "SRAM2_DATA[13]" LOC = P10;
NET "SRAM2_DATA[14]" LOC = N12;
NET "SRAM2_DATA[15]" LOC = N11;
